:root {
  --box-shadow: 1px 4px 4px 5px rgba(104, 104, 104, 0.3);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/*------------------------------------ GRID (Стили для общего контейнера) --------------------------------*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: 100vh;
  background-color: #85ffbd;
  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "social"
    "footer";
  /* justify-items: center; */
  max-width: 450px;
  max-height: 100%;
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
.social {
  grid-area: social;
}

/*---------------------------------------------- Стили для шапки ---------------------------------------*/

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
  padding: 20px;
}

.logo {
  width: 150px;
  height: 150px;
  margin-top: 50px;
}

.name {
  padding-top: 30px;
  font-size: 32px;
}

/*---------------------------------- Стили для основного контента -------------------------------------*/

.main {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  text-align: center;
  padding: 20px;
}

/*-------------------------------------------- Стили для описания -------------------------------------*/

.discription {
  text-align: center;
}

/*-------------------------------------------- Стили для кнопок ---------------------------------------*/

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.btn {
  padding: 20px 40px;
  background: none;
  border: 2px solid;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  opacity: 70%;
}

.btn:hover {
  opacity: 100%;
}

/*------------------------------------------------- FOOTER ---------------------------------------------*/

/*---------------------------------------------- SOCIAL icons ----------------------------------------*/

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 20px;
}
.icons {
  opacity: 15%;
}
.icons:hover {
  opacity: 50%;
}

/*---------------------------------------------- MyCours ---------------------------------------------*/
.format_text {
  text-align: justify;
  padding-bottom: 50px;
}
.price_list {
  padding-bottom: 30px;
}

/*--------------------------------------- медиа-запросы ---------------------------------------------*/

/* @media screen and (max-width: 640px) {
  .wrapper {
    display: grid;
  }
} */
